* {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;        
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

input {
	width: 30px;
}

td {
	width: 30px;
	height: 30px;
	
	text-align: center;
}